
@{
    ViewBag.Title = "Index";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Crops", "Index", "Crops")</li>
        <li>@Html.ActionLink("Layers", "Index", "Layers")</li>
        <li>@Html.ActionLink("LayerById", "GetJson", "Database")</li>
    </ul>
</div>

